.Card {
    color: #ccc4d0;
    background-color: #da8d3548;
    opacity: 100%;
    border-radius: 10px;
    max-width: 80vw;
    min-height: 360px;
    word-wrap: break-word;
    transition: .5s;
}


.Card:hover {
    background-color: #e0e6bff9;
}

.Title {
    font-size: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white; text-shadow: black 0.1em 0.2em 0.3em;
}

.Title h2 {
    text-decoration: none;
}

.Image {
    padding-top: 10px;
}