.Card {
    color: #060606;
    background-color: #77b1d23b;
    opacity: 100%;
    border-radius: 10px;
    max-width: 22rem;
    min-height: 435px;
    word-wrap: break-word;
    transition: .5s;
    margin-bottom: 1rem;
}


.Card:hover {
    background-color: #e0e6bf85;
}

.Title {
    text-decoration: none;
    font-size: 80%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white; text-shadow: black 0.1em 0.2em 0.3em;
}

.Title h2 {
    text-decoration: none;
}

.Image {
    padding-top: 15px;
}

.diets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: whitesmoke;
    text-shadow: black 0.1em 0.2em 0.3em;
}