.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            300px,
            1fr
        )
    );
    grid-gap: 15px;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 6vw;
    margin-bottom: 3vh;
}