.container{
    
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 16px;
    
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 50px;
    margin-right: 70px;
    margin-left: 70px;
    
    background-color: #000000;
    
}